<div class="container mt-5 text-center">
  <div class="col">
      <h1 style="letter-spacing: 2px; text-transform: uppercase;">
        <b><%= @message.name %></b>
      </h1>
      <p><%= link get_user(@message.user_id).email, to: user_path(@conn, :show, @message.user_id) %> </p>
      <p>Date: <%= @message.inserted_at %></p>
      <hr>
      <p><%= @message.msg %></p>
  </div>
  <br>
  <span><%= link "Back", to: message_path(@conn, :index), class: "btn btn-primary" %></span>
</div>
