<h2>Show Message</h2>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @message.name %>
  </li>

  <li>
    <strong>Msg:</strong>
    <%= @message.msg %>
  </li>

</ul>

<span><%= link "Back", to: message_path(@conn, :index) %></span>
