<h2>Show User following</h2>

<ul>

  <li>
    <strong>Count:</strong>
    <%= @user_following.count %>
  </li>

</ul>

<span><%= link "Edit", to: user_following_path(@conn, :edit, @user_following) %></span>
<span><%= link "Back", to: user_following_path(@conn, :index) %></span>
